src/main/resources/schema/entity.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="Entity">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="age" type="xsd:int"/>
            <xsd:element name="salary" type="xsd:decimal"/>
            <xsd:element name="tax" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>